html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://wallpapercave.com/wp/wp4719780.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
}
.container-password {
    max-width: 400px;
    margin: 60px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.container-password h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.container-password input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container-password button {
    padding: 10px;
    background-color: rgb(23, 21, 151);
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.container-password button:hover {
    background-color: rgb(23, 21, 151);
}

.imagen-poke{
    position: absolute;
    top: 10px;
    left: 10px; 
}

.imagen-poke>img{
    width: 100px; 
    height: auto;
    border-radius: 50%;
}